.hero-container {
  background: url('/assets/img/bgalt3.png');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero-text {
  width: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  .kaizen-title {
    font-size: 2em;
    color: white;
  }
  .kaizen-intro {
    font-size: 1.3em;
    color: white;
  }
}
