<div class="hero-container">
  <div class="hero-text">
    <div class="kaizen-title">
      <h3>
        Alcanza tu maximo potencial con Kaizen Martial Arts
      </h3>
    </div>
    <div class="kaizen-intro">
      <p>
        Get started today with our EXCLUSIVE offer! Request more information
        today to find out how you or your child can start training!
      </p>
    </div>
  </div>
</div>
<!-- <div class="section">
  <div fxLayout="row" fxLayoutAlign="left center" fxFill fxLayout.xs="column">
    <div class="programs-title" fxFlexAlign="center" fxFlex="50%">
      <h3 style="text-align: center;">
        Nuestros Programas
      </h3>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="space-evenly"
    fxLayout.xs="column"
  >
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/haidong.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            HAIDONG GUMDO
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/kungfu.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            KUNG FU
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/karate.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            KARATE
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->
<div class="section background-s-1">
  <div class="section-banner">
    <h2>Programas</h2>
  </div>
  <div class="section-title">
    <h3>HAIDONG GUMDO</h3>
    <p>
      Se basa en técnicas y tácticas de lucha contra varios oponentes. No se
      centra en el combate uno contra uno por ello su práctica enfatiza la
      movilidad, la agilidad de movimientos, la defensa y el ataque en todas
      direcciones. Le da principal importancia a la armonía y fluidez de
      movimientos en el manejo de la espada.
    </p>
    <p>
      <button mat-raised-button>Ver detalles del programa</button>
    </p>
  </div>
  <div class="section-img">
    <img src="/assets/img/haidong.png" alt="" />
  </div>
</div>
<div class="section background-s-2">
  <div class="section-title">
    <h3>KARATE DO</h3>
    <p>
      Arte marcial de origen Japones (En Okinawa, antes el reino de Ryukku) que
      se enfoca en técnicas de Defensa Personal, respiración, Katas, y
      acondicionamiento físico. Se utilizan diversas técnicas como Pateo,
      Golpeo, Llaves, Derribes entre otras.
    </p>
    <p>
      <button mat-raised-button>Ver detalles del programa</button>
    </p>
  </div>
  <div class="section-img">
    <img src="/assets/img/karate.png" alt="" />
  </div>
</div>
<div class="section background-s-3">
  <div class="section-title">
    <h3>KUNG FU</h3>
    <p>
      Es una de las artes marciales mas antiguas del mundo, originario de China,
      cuenta con muchos sistemas de combate enfocados a diversas técnicas y el
      acondicionamiento.
    </p>
    <p>
      <button mat-raised-button>Ver detalles del programa</button>
    </p>
  </div>
  <div class="section-img">
    <img src="/assets/img/kungfu.png" alt="" />
  </div>
</div>
