<div class="hero-container">
  <div class="hero-text">
    <div class="kaizen-title">
      <h3>
        Alcanza tu maximo potencial con Kaizen Martial Arts
      </h3>
    </div>
    <div class="kaizen-intro">
      <p>
        Get started today with our EXCLUSIVE offer! Request more information
        today to find out how you or your child can start training!
      </p>
      <button mat-raised-button>Solicita Informacion</button>
    </div>
  </div>
</div>
<div class="section">
  <div fxLayout="row" fxLayoutAlign="left center" fxFill fxLayout.xs="column">
    <div class="programs-title" fxFlexAlign="center" fxFlex="50%">
      <h3 style="text-align: center;">
        Nuestros Programas
      </h3>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="space-evenly"
    fxLayout.xs="column"
  >
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/haidong.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            HAIDONG GUMDO
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/kungfu.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            KUNG FU
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-container" fxFlex="20%">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="/assets/img/karate.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <h3>
            KARATE
          </h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
